.form__row{
    display: flex;
    margin-bottom: 30px;
}

.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 20px 28px;
    font-size: 18px;
}

.form__input:last-child{
    margin-right: 0px;
}

.form__input::placeholder{
    color: #666;
}

.form__input--textarea{
    height: 232px;
}

.form__controls{
    display: flex;
    margin-bottom: 25px;
}

.form__controls-title{
    width: 33%;
    font-size: 18px;
}

.controls__list{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
    margin-right: -10px;
}

.controls__item{
    margin-bottom: 10px;
    margin-right: 10px;
}

.controls__elem{
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
    background: #b9eae4;
}

.controls__checkbox{
    display: none;
}

.form__btns{
    display: flex;
    justify-content: flex-end;
}

.btn--color--black{
    background: #2b2b2b;
}

.btn--color--black:hover{
    background: #666666;
}

.form__btn{
    margin-right: 20px;
}

.form__btn:last-child{
    margin-right: 0;
}