.separator{
    background: url("../../images/decor/couple.png") right 29% bottom no-repeat, url("../../images/bg/middleline.jpg") bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f4f5f5;
}

.separator__content{
    max-width: 47%;
}

.separator__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}